@import url('href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet');


body{
  font-family: sans-serif;
}


h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
  text-align: center;
  font-family: 'Quicksand': sans-serif;
}

h2 {
  font-size: 1em;
  margin-bottom: 0.65em;
  text-align: center;
  font-family: 'Quicksand': sans-serif;
}

figcaption {
  font-size: 0.75em;
  font-style: italic;
}
